@page "/resultado"

@using Horoscopo.Core.Entities
@inject HttpClient Http
@inject Core.Entities.Registro Estado
@inject NavigationManager _navigationManager

<div class="pantalla-contenedor">
    <div class="header-azul">
        <button class="btn-volver-circular" @onclick='() => _navigationManager.NavigateTo("/registro")'>
            <i class="bi bi-arrow-left"></i> <span>←</span>
        </button>
        <span class="header-titulo">Tus Horóscopo</span>
    </div>

    <div class="contenido-ajustado">
        @if (cargando)
        { 
            <div class="contenedor-prediccion">
                <p class="texto-prediccion mt-3">Consultando los astros para @Estado.Nombre...
                </p>
            </div>
        }
        else if (error || _horoscopo is null)
        {
            <div class="error-container">
                <p class="text-danger">Lo sentimos, no pudimos obtener tu horóscopo. </p>
                    <button style="margin-top:60px" class="btn-naranja-redondeado" @onclick='() => _navigationManager.NavigateTo("/registro")'>
                        VOLVER AL REGISTRO
                    </button>
            </div>
        }
        else
        {
            
            <div class="bloque-signo mb-4">
                <img src="images/boton_@(_horoscopo.Signo.ToLower()).png"
                     class="img-signo-decor"
                     alt="Signo @_horoscopo.Signo" />
            </div>

            <h4 class="hola-usuario mb-4 text-center w-100">¡HOLA @Estado.Nombre.ToUpper()!</h4>

            <div class="contenedor-prediccion">
                <p class="texto-prediccion">
                @(string.IsNullOrEmpty(_horoscopo.Prediccion) ? "No se pudo obtener la predicción" : _horoscopo.Prediccion)
                </p>
            </div>

            <div class="bloque-cumple mt-auto text-center w-100">
                <div class="alerta-cumple">
                    <p class="texto-cumple">
                        Faltan <strong>@_horoscopo.DiasParaCumple</strong> días para tu cumpleaños.
                    </p>
                </div>
            </div>

            <div class="boton-contenedor mt-4" style="margin-top:60px !important; padding-bottom: 40px;">
                <button  class="btn-naranja-redondeado" @onclick='() => _navigationManager.NavigateTo("/")'>
                    INICIO
                </button>
                <div class="separador-botones d-flex flex-row gap-3 justify-content-center">
                    <button class="btn-naranja-suave" @onclick='() => _navigationManager.NavigateTo("/historial")'>
                        VER HISTORIAL
                    </button>
                    <button class="btn-naranja-suave" @onclick='() => _navigationManager.NavigateTo("/estadisticas")'>
                        VER ESTADÍSTICAS
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private bool cargando = true;
    private bool error = false;
    private Horoscopo? _horoscopo;

    protected override async Task OnInitializedAsync()
    {  
        try
        {
            var response = await Http.PostAsJsonAsync("api/horoscopo/consultar", Estado);

            if (response.IsSuccessStatusCode)
            {
                _horoscopo = await response.Content.ReadFromJsonAsync<Horoscopo>();
                Estado.RegistroConsultado = true;
            }
            else
            {
                error = true;
            }
        }
        catch
        {
            error = true;
        }
        finally
        {
            cargando = false;
        }
    }

}